<div class="row g-3">
    {% for u in children %}
        <div class="col-12">
            {{ include('unit/_unit_card.html.twig', { u: u }) }}
        </div>
    {% endfor %}

    {% if children is empty %}
        <div class="col-12">
            <div class="aca-label">Sin subramas.</div>
        </div>
    {% endif %}
</div>
